
<style>
.table-responsive{

  font-family: helvetica;
  font-size: 20px;
}
.product-legends{
  font-family: georgia;
  font-size: 30px;
  width:500px;
}
</style>
<div class="container" >
  <form action="/admin/student/create" method="post">
        <div class="row">
        <fieldset class="product-fields">
      <legend class="product-legends">
        <strong>A D D&nbsp;&nbsp;&nbsp;  C L A S S</strong>
      </div>
      <div class="panel-body">
          {{#if success}}
            <div class="alert alert-success">
              {{{success}}}
            </div>  
          {{/if}}
          <div class="form-group">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Batch</label>
            <select class="form-control" name="batch" required="" style=" margin-left: 28px; width:300pt;">
              {{#each year}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Section</label>
            <select class="form-control" name="section" required="" style=" margin-left: 28px; width:300pt;">
              {{#each section}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Adviser</label>
            <select class="form-control" name="advisorId" required style=" margin-left: 28px; width:300pt;"
              {{#each facultyList}}
                <option value="{{this.id}}">{{this.prefix}} {{this.first_name}} {{this.middle_name}} {{this.last_name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <input type="submit" class="btn form-control btn-success" name="" style="background-color: #262626;color:lightgray;margin-left: 28px; width: 200pt; font-size: 20px;">
          </div>

  			</div>
  		</div>
    </form>
	</div>
</div>