<style>
.table-responsive{

  font-family: helvetica;
  font-size: 20px;
}
.product-legends{
  font-family: georgia;
  font-size: 30px;
  width:500px;
}
</style>
<div class="container" >
  <form action="/admin/faculty/create" method="post">
        <div class="row">
        <fieldset class="product-fields">
      <legend class="product-legends">
        <strong>A D D&nbsp;&nbsp;&nbsp;  F A C U L T Y</strong>
      </div>
      <div class="panel-body">
        {{#if error}}
          <div class="alert alert-danger">
            {{{error}}}
          </div>
        {{/if}}
        {{#if success}}
          <div class="alert alert-success">
            {{{success}}}
          </div>  
        {{/if}}

        <div>
        <h2>Informations</h2>
        </div>
        <div class="faculty-create-wrapper">

          <div class="form-group" >
            <div class="faculty-create-information" id="prefix">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prefix</label>
              <input type="text" class="form-control" style=" margin-left: 28px; width:100pt;" name="prefix" value="{{prefix}}">
            </div>
            <div class="faculty-create-information faculty-create-information-name" >
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</label>
              <input type="text" class="form-control" name="firstName" style=" margin-left: 28px; width:300pt;" required="" value="{{firstName}}">
            </div>
            <div class="faculty-create-information">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</label>
              <input type="text" class="form-control faculty-create-information-name" name="middleName" style=" margin-left: 28px; width:300pt;" value="{{middleName}}">
            </div>
            <div class="faculty-create-information faculty-create-information-name">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
              <input type="text" class="form-control" name="lastName" required="" value="{{lastName}}" style=" margin-left: 28px; width:300pt;">
            </div>
            <div class="faculty-create-information" id="suffix">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suffix</label>
              <input type="text" class="form-control" name="suffix" value="{{suffix}}" style=" margin-left: 28px; width:300pt;">
            </div>
          </div>

          <div class="form-group">
            <div class="faculty-create-contact">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</label>
              <input type="email" class="form-control" name="email" required="" value="{{email}}" style=" margin-left: 28px; width:300pt;">
            </div>
            <div class="faculty-create-contact">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone number (optional)</label>
              <input type="text" class="form-control" name="phoneNumber" value="{{phoneNumber}}" style=" margin-left: 28px; width:300pt;">
            </div>
          </div>
          <div class="form-inline">
            <label class="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Admin?</label>
            <input type="checkbox" class="checkbox" name="isAdmin" value="true">
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div>
          <h2>Create Password</h2>
        </div>
        <div class="faculty-create-wrapper">
          <div class="form-group faculty-create-credentials">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password</label>
            <input type="password" class="form-control" name="password1" required=""style=" margin-left: 28px; width:300pt;">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirm password</label>
            <input type="password" class="form-control" name="password2" required="" style=" margin-left: 28px; width:300pt;">
          </div>
          <div class="form-group faculty-create-credentials">
            <input type="submit" class="btn btn-success form-control" style="background-color: #262626;color:lightgray;margin-left: 28px; width: 200pt; font-size: 20px;"name="" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </form>
  </fieldset>
</div>
</div>
</div>