
<div class="container" >
  <form action="/admin/faculty/create" method="post">
  	<div class="panel panel-default">
      <div class="panel-heading">
        <h3>Add Faculty</h3>
      </div>
      <div class="panel-body">
        {{#if error}}
          <div class="alert alert-danger">
            {{{error}}}
          </div>
        {{/if}}
        {{#if success}}
          <div class="alert alert-success">
            {{{success}}}
          </div>  
        {{/if}}

        <div>
          <h4>Informations</h4>
        </div>
        <div class="faculty-create-wrapper">

          <div class="form-group" >
            <div class="faculty-create-information" id="prefix">
              <label>Prefix</label>
              <input type="text" class="form-control" name="prefix" value="{{prefix}}">
            </div>
            <div class="faculty-create-information faculty-create-information-name" >
              <label>First Name</label>
              <input type="text" class="form-control" name="firstName" required="" value="{{firstName}}">
            </div>
            <div class="faculty-create-information">
              <label>Middle Name</label>
              <input type="text" class="form-control faculty-create-information-name" name="middleName" value="{{middleName}}">
            </div>
            <div class="faculty-create-information faculty-create-information-name">
              <label>Last Name</label>
              <input type="text" class="form-control" name="lastName" required="" value="{{lastName}}">
            </div>
            <div class="faculty-create-information" id="suffix">
              <label>Suffix</label>
              <input type="text" class="form-control" name="suffix" value="{{suffix}}">
            </div>
          </div>

          <div class="form-group">
            <div class="faculty-create-contact">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required="" value="{{email}}">
            </div>
            <div class="faculty-create-contact">
              <label>Phone number (optional)</label>
              <input type="text" class="form-control" name="phoneNumber" value="{{phoneNumber}}">
            </div>
          </div>
          <div class="form-inline">
            <label class="checkbox">Admin?</label>
            <input type="checkbox" class="checkbox" name="isAdmin" value="true">
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div>
          <h4>Credentials</h4>
        </div>
        <div class="faculty-create-wrapper">
          <div class="form-group faculty-create-credentials">
            <label>Password</label>
            <input type="password" class="form-control" name="password1" required="">
            <label>Confirm password</label>
            <input type="password" class="form-control" name="password2" required="">
          </div>
          <div class="form-group faculty-create-credentials">
            <input type="submit" class="btn btn-success form-control" name="" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>